<!DOCTYPE html>
<html lang="en">
<head>
    $webResourceManager.requireResource("org.test.custom.plugin.semyontask:semyontask-resources")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Report</title>
</head>
<body>

<div class="view" style="margin: auto">
    <div class="wrapper">
        <table class="table">
            <thead>
            <tr>
                <th class="sticky-col first-col">Пользователь/Проект</th>
                <th class="sticky-col second-col">Ключ</th>
                <th class="sticky-col third-col">В системе</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                #foreach($e in $users)
                    <td class="sticky-col first-col">$e.getName()</td>
                    #foreach($i in $users)
                        <td class="sticky-col second-col">$i.getDirectoryId()</td>
                    #end
                #end
                <td class="sticky-col third-col">Время (час)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
